doctype html 
html 
    head 
        block head
            title Natours | #{title}
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            link(rel='stylesheet' href='/css/style.css')
            link(rel='shortcut icon' type='/image/png' href='/img/favicon.png')
            link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Lato:300,300i,700")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.9.2/bootstrap-social.min.css" integrity="sha512-3CYhYJnb7/677SX8kzxL2+gW6vVzXiVEC6ZhK0S4tGVp7dTlMjSZPVvA79aH8YMU0xuKn2tLZIFaBctUi4Cb/w==" crossorigin="anonymous" referrerpolicy="no-referrer")
            link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous")

            script(src='https://js.stripe.com/v3/')

    body
        // HEADER
        include _header.pug

        // CONTENT
        block content
            h1 This is a placeholder heading

        // FOOTER
        include _footer.pug

        script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js")
        //- script(src="/js/mapbox.js")
        //- script(src="/js/login.js")
        script(type="module" src="/js/index.js")